In [1]:
import os
import os.path 
import pandas as pd
import re

In [2]:
folders = ["business","entertainment","politics","sport","tech"]

In [3]:
os.chdir("C:/Users/HP/Desktop/bbc")

In [4]:
print(os.getcwd())

C:\Users\HP\Desktop\bbc

In [6]:
paths = []
for i in folders:
    paths.append(os.getcwd()+'/'+i)

In [7]:
texts = []
labels = []
for path in paths:
#     getting filenames one by one from the list of all files under a directory called path
    for filename in os.listdir(path):
#         opening the file in read only mode with encoding latin1
        with open(path+"/"+filename,"r", encoding = "latin") as file:
#             after reading the file contents are stored in a variable called data
            data = file.read()
#             after removing all newline characters and carriage return from the  data,
#             it is being added at the end of the list texts
            data = data.replace("\n"," ").replace('\r','')
            texts.append(data)
            file.close() # file is being closed
#         setting the category of the news as the folder name in which it reside  
        labels.append(os.path.basename(path)) # from the whole path basename only returns the folder name

In [8]:
df = pd.DataFrame({'texts':texts,'labels':labels})

In [9]:
df

                                                  texts    labels
0     Ad sales boost Time Warner profit  Quarterly p...  business
1     Dollar gains on Greenspan speech  The dollar h...  business
2     Yukos unit buyer faces loan claim  The owners ...  business
3     High fuel prices hit BA's profits  British Air...  business
4     Pernod takeover talk lifts Domecq  Shares in U...  business
...                                                 ...       ...
2220  BT program to beat dialler scams  BT is introd...      tech
2221  Spam e-mails tempt net shoppers  Computer user...      tech
2222  Be careful how you code  A new European direct...      tech
2223  US cyber security chief resigns  The man makin...      tech
2224  Losing yourself in online gaming  Online role ...      tech

[2225 rows x 2 columns]

In [10]:
df.drop('labels',axis = 1,inplace = True)

In [11]:
df

                                                  texts
0     Ad sales boost Time Warner profit  Quarterly p...
1     Dollar gains on Greenspan speech  The dollar h...
2     Yukos unit buyer faces loan claim  The owners ...
3     High fuel prices hit BA's profits  British Air...
4     Pernod takeover talk lifts Domecq  Shares in U...
...                                                 ...
2220  BT program to beat dialler scams  BT is introd...
2221  Spam e-mails tempt net shoppers  Computer user...
2222  Be careful how you code  A new European direct...
2223  US cyber security chief resigns  The man makin...
2224  Losing yourself in online gaming  Online role ...

[2225 rows x 1 columns]

In [13]:
df.to_csv('BBC_test.csv')